@media (min-width:1024px) {
.history-timeline__nav--desktop.sticky {
    top: 12px;
}
}
@media (min-width: 1200px)
.masthead__heading {
    color: white;
}
h1.masthead__heading {
	color : white;
}
@media (min-width:768px) and (max-width:1024px){
h1.masthead__heading {
	margin-top : 30px;
}
}
@media (min-width:1023px) and (max-width:1024px){
	.history-timeline__nav--desktop-wrapper{
		width:100%;
		background-size:contain;
}
}